@media (max-width: 600px) {
  p {
    font-size: 12px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 900px) and (max-width: 1280px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  p {
    font-size: 18px;
  }
}
