/*
background-color: rgb(52, 152, 219);  76%
background-color: rgb(52, 73, 94);    45%
*/
.peter-river {
  background-color: #3498db;
}

.wet-asphalt {
  background-color: #34495e;
}

.color-1 {
  background-color: #85c4ed;
}

.color-2 {
  background-color: #58ade3;
}

.color-3 {
  background-color: #0f85d1;
}

.color-4 {
  background-color: #0665a2;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

footer {
  height: 34px;
  clear: both;
}

button {
  padding: 13px 21px;
  margin: 8% auto;
  border-radius: 5px;
  border-color: #357ebd;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  width: 75%;
  cursor: pointer;
  font-size: 1.1rem;
}

p {
  width: 94%;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis::after {
  content: "...";
  float: right;
  position: relative;
  bottom: 24px;
}

.large {
  font-size: 2.1rem;
}

ul {
  list-style-type: none;
}

/* =weather */
.weather > ul {
  margin: 0;
  padding: 5% 0;
}
.weather > ul > li:first-child {
  width: 34%;
  margin: 0 5% 0 0;
}
.weather > ul > li:last-child {
  width: 60%;
}
.weather > ul > li > ul {
  padding: 0;
  margin: 0 0 0 5%;
}
.weather > ul > li:last-child > ul > li:first-child {
  width: 60%;
  float: left;
}
.weather > ul > li:last-child > ul > li:last-child {
  width: 40%;
  float: left;
}
.weather > ul > li:last-child > ul > li > ul {
  margin: 0;
  padding: 0;
}
.weather h2 {
  padding: 10% 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.dark {
  color: #34495e;
}
.left {
  float: left;
  clear: left;
}
.right {
  float: right;
  clear: right;
}
.center {
  text-align: center;
}

/* =port-start */
@media (orientation: portrait) {
  section {
    width: 100%;
  }

  section > div:first-of-type {
    height: 110px;
  }
  div > div {
    height: 110px;
  }

  .scroll {
    overflow-x: scroll;
  }

  /* =time */
  .time h1 {
    margin: 5% 3%;
    padding: 0;
    float: left;
  }
  .time span:first-of-type {
    display: block;
  }

  /*=news =tasks*/
  .news ul, .tasks ul {
    display: inline-block;
    width: 1500px;
  }
  .news ul li p, .tasks ul li p {
    margin: 5px;
  }
  .news ul li h4, .tasks ul li h4 {
    margin: 2px;
  }

  /* =port-weather */
  .weather > ul > li {
    display: inline;
    float: left;
  }
  .weather > ul > li:first-child > ul > li:first-child {
    width: 25%;
    float: left;
    text-align: right;
    margin-left: 15%;
  }
  .weather > ul > li:first-child > ul > li:last-child {
    width: 60%;
    float: right;
    text-align: center;
  }
  .weather h2 {
    font-size: 0.8rem;
  }

  .travel > * {
    float: left;
    margin: 5% 0 0 5%;
  }

  .stock > ul > li {
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;
    display: inline;
  }
} /* port-end */

@media (orientation: landscape) {
  section {
    width: 50%;
  }
  section:first-of-type {
    float: left;
  }
  section:last-of-type {
    float: right;
  }

  section > div:first-of-type {
    height: 144px;
  }
  div > div {
    width: 50%;
    height: 199px;
  }
  div > div:first-of-type {
    float: left;
  }
  div > div:last-of-type {
    float: right;
  }

  .scroll {
    overflow-y: scroll;
  }

  /* =time */
  .time {
    text-align: center;
  }

  /*=news =tasks*/
  .news, .tasks {
    font-size: 0.7rem;
  }
  .news ul, .tasks ul {
    padding: 5%;
    margin: 0;
  }

  /* =land-weather */
  .weather > ul > li {
    float: left;
    margin: 0;
  }
  .weather > ul > li:first-child > ul > li:first-child {
    width: 100%;
  }
  .weather > ul > li:first-child > ul > li:last-child {
    width: 100%;
    text-align: center;
  }
  .weather > ul > li:first-child > ul > li:last-child ul {
    width: 100%;
    padding: 0;
  }
  .weather h2 {
    font-size: 1.5rem;
  }

} /* =end-landscape */
